{% extends 'base.html' %}

{% block title %}
    {{object.title}} - {{block.super}}
{% endblock title %}

{% block main %}
    <h1>{{movie}}</h1>
    <p>{{movie.plot}}</p>
{% endblock main %}

{% block sidebar %}
    <div>
        This movie is rated:
        {{movie.get_rating_display}}
    </div>

    <div>
        {% if vote_form %}
            <form method="post" action="{{vote_form_url}}"> {% csrf_token %}
                {{vote_form.as_p}}
                <button>
                    Vote
                </button>
            </form>
        {% else %}
            <p>Log in to vote for this movie</p>
        {% endif %}
    </div>
{% endblock sidebar %}