{% extends 'base.html' %}

{% block title %}
    {{object.title}} - {{block.super}}
{% endblock title %}

{% block main %}

    <div>
        <h1>{{object}}</h1>
        <p>{{object.plot}}</p>
    </div>

    <ul>
        {% for i in object.movie_image.all %}
            <li><img src="{{i.image.url}}"></li>
        {% endfor %}
    </ul>

    <p>Directed by {{object.director}}</p>

{% endblock main %}

{% block sidebar %}
    <div>
        This movie is rated:
        {{movie.get_rating_display}}
    </div>

    {% if image_form %}
        <div>
            <h2>Upload New Image</h2>
            <form method="post"
                  enctype="multipart/form-data"
                  action="{% url 'core:MovieImageUpload' movie_id=object.id %}"> {% csrf_token %}
                {{image_form.as_p}}
                <p>
                    <button>Upload</button>
                </p>
            </form>
        </div>
    {% endif %}

    <div>
        <h2>
            Score: {{object.score|default_if_none:"IBD"}}
        </h2>
    </div>

    <div>
        {% if vote_form %}
            <form method="post" action="{{vote_form_url}}"> {% csrf_token %}
                {{vote_form.as_p}}
                <button>
                    Vote
                </button>
            </form>
        {% else %}
            <p><a href="{% url 'user:login' %}">Log in</a> to vote for this movie</p>
        {% endif %}
    </div>
{% endblock sidebar %}