<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title%}
        MyMDB
        {% endblock title%}
    </title>

</head>
<body>
    <a href="{% url 'core:MovieList' %}">
        Movies
    </a>
    <aside>
    {% if user.is_authenticated %}
        <a href="{% url 'user:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'user:login' %}">Log in</a> | <a href="{% url 'user:register' %}">Register</a>
    {% endif %}
    </aside>

    {% block main %}

    {% endblock main%}

    {% block sidebar %}
    {% endblock sidebar %}
</body>
</html>